body {
  background-color: #fafafa;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 350px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  padding: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo img {
  width: 150px;
}

.input-group {
  margin-left: -10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.btnLogin {
  background-color: #F20505;
  color: #fff;
  border: none;
  width: 105%;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

.btnLogin:hover {
  background-color: #A60D0D;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}

.forgot-password a {
  color: #003569;
  text-decoration: none;
  font-size: 15px;
}

.registro {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}

.registro a {
  color: #003569;
  text-decoration: none;
  font-weight: bold;
}

.error {
  margin-top: 5px;
  color: #a30139;
  text-align: center;
  font-size: 12px;
}

.success {
  margin-top: 5px;
  color: #119200;
  text-align: center;
  font-size: 12px;
}

/* ------ SUBIR -------- */
.principal {
  width: 100%;
}

.contenido {
  width: 97%;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  padding: 20px;
}

.actionBtn {
  display: flex;
  justify-content: center;
  gap: 20px;
  opacity: 0.8;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="file"],
textarea {
  width: 100%;
  padding: 5px;
}


.btnSubir {
  width: 100%;
  z-index: 20;
  padding: 10px 50px;
  border: 2 px solid #000;
  outline: none;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 500;
  background: #F20505;
  color: #fff;
  cursor: pointer;
}

.actionBtn:hover {
  opacity: 2;
}

.map-container {
  width: 400px;
  /* Ancho deseado */
  height: 300px;
  /* Altura deseada */
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map-container .leaflet-container {
  height: 100%;
  width: 100%;
}

.map-container .map-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map-container .map-overlay h3 {
  margin: 0 0 5px;
  font-size: 16px;
}

.map-container .map-overlay p {
  margin: 0;
  font-size: 14px;
}

.map-container .map-overlay .button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #4285F4;
  color: #FFF;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.map-container .map-overlay .button:hover {
  background-color: #3367D6;
}

/* - - - - - - - - RUTAS - - - - - - -*/
.contentRuta {
  width: 100%;
  margin-top: 100px;
}

.tarjetaRuta {
  background-color: #292929 !important;
  width: '100%' !important;
  margin-bottom: '20px' !important;

}

.titulo{
  color: #fff;
}

.descripcion{
  color: #fff;
}

.btnRutas {
  width: 100%;
  padding: 10px 50px;
  border: 2 px solid #000;
  outline: none;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 500;
  background: #F20505;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.btnRutas:hover {
  background: #FF4040;
}

/* - - - - VALORACION - - - - - - */
.addComment {
  margin-top: 100px;
}

.star {
  cursor: pointer;
  font-size: 2rem;
  color: #ccc;
}

.star.selected {
  color: gold;
}

.btnVerVal {
  display: inline-block;
  padding: 10px 20px;
  background-color: #eaeaea;
  color: #333333;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnVerVal:hover {
  background-color: #cccccc;
}

#map { 
  width: 100%;
  height: 580px;
  box-shadow: 5px 5px 5px #888;
}

/* - - - - - - - COMENTARIOS POSTS - - - - - - - */
.comment-section {
  margin-top: 20px;
}

.comment {
  display: flex;
  margin-bottom: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  margin-left: 10px;
}

.user-info {
  margin-bottom: 5px;
}

.username {
  font-weight: bold;
}

.comment-text {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}